/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../var/lib/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../var/lib/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../var/lib/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 22, ../sass/screen.scss */
form {
  margin: auto;
  padding: 5px;
}
/* line 25, ../sass/screen.scss */
form input {
  border: 0px;
  background: red url(/images/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  position: relative;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: block;
  width: 100%;
}
/* line 30, ../sass/screen.scss */
form textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  display: block;
}
/* line 36, ../sass/screen.scss */
form label {
  font-size: 1.2em;
  text-shadow: #cccccc 0px 0px 3px;
  font-weight: 600;
  color: #FFF;
  margin: 3px;
  margin-left: 0px;
  display: block;
  margin-top: 15px;
}
/* line 46, ../sass/screen.scss */
form select {
  text-shadow: black 0px 0px 3px;
  font-size: 1em;
  display: block;
  width: 100%;
}
/* line 52, ../sass/screen.scss */
form input[type="submit"], form input[type="button"] {
  width: 100px;
  margin: 20px;
  float: right;
  background-color: #329438;
}

/* line 60, ../sass/screen.scss */
h1, h2, h3 {
  color: #000;
  text-shadow: #333333 1px 1px 1px;
  font-weight: 500;
  line-height: 2em;
}

/* line 67, ../sass/screen.scss */
h1 {
  font-size: 1.8em;
}

/* line 71, ../sass/screen.scss */
h2 {
  font-size: 1.4em;
  padding-left: 15px;
}

/* line 76, ../sass/screen.scss */
h3 {
  font-size: 0.8em;
  padding-left: 25px;
}

/* line 81, ../sass/screen.scss */
a {
  color: #EE0000;
  outline: none;
}

/* line 86, ../sass/screen.scss */
em {
  font-weight: 600;
}

/* line 90, ../sass/screen.scss */
p {
  margin: 5px;
}

/* line 94, ../sass/screen.scss */
pre {
  display: block;
  padding: 15px;
  border-left: 1px solid #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 101, ../sass/screen.scss */
code {
  font-family: 'Courier New',Courier,'Nimbus Mono L',monospace;
}

/* line 105, ../sass/screen.scss */
i {
  text-decoration: italic;
}

/* line 109, ../sass/screen.scss */
body {
  overflow-x: hidden;
  font-size: 16px;
}
/* line 112, ../sass/screen.scss */
body #container {
  width: 100%;
}
/* line 114, ../sass/screen.scss */
body #container #head {
  position: fixed;
  top: 0px;
  z-index: 100;
  float: left;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(1%, #888888), color-stop(3%, #555555), color-stop(30%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#222222, #888888 1%, #555555 3%, #333333 30%, #222222);
  background-image: -moz-linear-gradient(#222222, #888888 1%, #555555 3%, #333333 30%, #222222);
  background-image: -o-linear-gradient(#222222, #888888 1%, #555555 3%, #333333 30%, #222222);
  background-image: -ms-linear-gradient(#222222, #888888 1%, #555555 3%, #333333 30%, #222222);
  background-image: linear-gradient(#222222, #888888 1%, #555555 3%, #333333 30%, #222222);
  width: 100%;
  height: 90px;
}
/* line 122, ../sass/screen.scss */
body #container #head #title {
  font-size: 200%;
  padding: 3px;
}
/* line 123, ../sass/screen.scss */
body #container #head #title a {
  text-decoration: none;
  color: #000;
}
/* line 129, ../sass/screen.scss */
body #container #head #title div {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 1px 1px #999999;
  -webkit-box-shadow: 0px 0px 1px 1px #999999;
  -o-box-shadow: 0px 0px 1px 1px #999999;
  box-shadow: 0px 0px 1px 1px #999999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(30%, #cccccc), color-stop(70%, #bbbbbb), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#ffffff, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
  background-image: -moz-linear-gradient(#ffffff, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
  background-image: -o-linear-gradient(#ffffff, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
  background-image: -ms-linear-gradient(#ffffff, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
  background-image: linear-gradient(#ffffff, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
  float: left;
  width: 40px;
  height: 40px;
  margin: 4px;
  background-color: #ccc;
}
/* line 138, ../sass/screen.scss */
body #container #head #title div p {
  text-align: center;
  line-height: 40px;
  text-shadow: #333333 1px 1px 2px;
}
/* line 147, ../sass/screen.scss */
body #container #head #banner ul {
  float: right;
}
/* line 149, ../sass/screen.scss */
body #container #head #banner ul li {
  float: left;
  padding: 5px;
  width: 50px;
  height: 50px;
  border: 0px;
  margin: 10px;
}
/* line 156, ../sass/screen.scss */
body #container #head #banner ul li img {
  margin: auto;
  padding: 1px;
  width: 48px;
  height: 48px;
}
/* line 163, ../sass/screen.scss */
body #container #head #banner ul li.active {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 4px 1px black;
  -webkit-box-shadow: inset 0px 1px 4px 1px black;
  -o-box-shadow: inset 0px 1px 4px 1px black;
  box-shadow: inset 0px 1px 4px 1px black;
  background-color: #111;
  border-bottom: 1px solid #999;
}
/* line 171, ../sass/screen.scss */
body #container #head #seperator {
  point-events: none;
  overflow: hidden;
  width: 100%;
  margin: auto;
  height: 20px;
  background: -moz-linear-gradient(top, #222222 0%, rgba(34, 34, 34, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(100%, rgba(34, 34, 34, 0)));
  background: -webkit-linear-gradient(top, #222222 0%, rgba(34, 34, 34, 0) 100%);
  background: -o-linear-gradient(top, #222222 0%, rgba(34, 34, 34, 0) 100%);
  background: -ms-linear-gradient(top, #222222 0%, rgba(34, 34, 34, 0) 100%);
  background: linear-gradient(top, #222222 0%, rgba(34, 34, 34, 0) 100%);
}
/* line 188, ../sass/screen.scss */
body #container #body {
  margin-top: 89px;
  clear: both;
  overflow: hidden;
  background-color: #222;
  min-height: 500px;
}
/* line 195, ../sass/screen.scss */
body #container #footer {
  font-size: 0.8em;
}
/* line 197, ../sass/screen.scss */
body #container #footer p {
  padding: 8px;
  float: right;
  clear: both;
}
/* line 202, ../sass/screen.scss */
body #container #footer a {
  padding: 3px;
  float: right;
}

/* line 212, ../sass/screen.scss */
#body .content_head {
  text-align: center;
  font-size: 2em;
  text-shadow: #444444 1px 1px 2px;
  padding: 1px;
  margin: 15px;
}

/* line 225, ../sass/screen.scss */
#body #addon_tabs {
  font-size: 0.9em;
  width: 75%;
  margin: 15px auto 15px;
  overflow: hidden;
  -moz-box-shadow: inset 1px 0px 4px 2px black;
  -webkit-box-shadow: inset 1px 0px 4px 2px black;
  -o-box-shadow: inset 1px 0px 4px 2px black;
  box-shadow: inset 1px 0px 4px 2px black;
}
/* line 232, ../sass/screen.scss */
#body #info {
  font-size: 85%;
  overflow: hidden;
  width: 75%;
  margin: auto;
}
/* line 233, ../sass/screen.scss */
#body #info a {
  text-decoration: none;
}
/* line 241, ../sass/screen.scss */
#body #info ul li {
  -moz-box-shadow: inset 1px 1px 2px 1px black;
  -webkit-box-shadow: inset 1px 1px 2px 1px black;
  -o-box-shadow: inset 1px 1px 2px 1px black;
  box-shadow: inset 1px 1px 2px 1px black;
  background-color: #111;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid #555;
  color: #fff;
  float: left;
  margin: 3px;
  padding: 6px;
}
/* line 250, ../sass/screen.scss */
#body #info ul li span {
  float: right;
  text-shadow: #444444 1px 1px 1px;
}
/* line 256, ../sass/screen.scss */
#body #info #like {
  color: white;
  text-shadow: #444444 1px 1px 1px;
  float: right;
  border: 0px;
  background: red url(/images/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  position: relative;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 265, ../sass/screen.scss */
#body #updates ul li div.update {
  overflow: hidden;
  margin: 5px;
  padding: 2px;
  border: 1px solid #888;
}
/* line 270, ../sass/screen.scss */
#body #updates ul li div.update span {
  font-size: 0.9em;
  color: #888;
  margin: 4px;
  padding: 0 2px 0 2px;
  float: right;
  clear: right;
}
/* line 278, ../sass/screen.scss */
#body #updates ul li div.update div.changelog {
  width: 70%;
  padding: 3px;
}
/* line 284, ../sass/screen.scss */
#body #updates #new_update {
  margin: 10px;
}
/* line 290, ../sass/screen.scss */
#body #comments ul li {
  overflow: hidden;
  margin: 10px;
  width: 98%;
  border: 1px solid #888;
}
/* line 295, ../sass/screen.scss */
#body #comments ul li .comment, #body #comments ul li .reply {
  overflow: hidden;
  width: 100%;
}
/* line 297, ../sass/screen.scss */
#body #comments ul li .comment p, #body #comments ul li .reply p {
  padding: 25px;
}
/* line 301, ../sass/screen.scss */
#body #comments ul li .comment span.pub_datetime, #body #comments ul li .reply span.pub_datetime {
  float: right;
  font-size: 0.7em;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 2px;
}
/* line 307, ../sass/screen.scss */
#body #comments ul li .comment span.username, #body #comments ul li .reply span.username {
  float: left;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 2px;
}
/* line 313, ../sass/screen.scss */
#body #comments ul li .comment a.reply_link, #body #comments ul li .reply a.reply_link {
  margin: 5px;
  float: right;
}
/* line 318, ../sass/screen.scss */
#body #comments ul li .reply_comment {
  display: none;
}
/* line 325, ../sass/screen.scss */
#body #description #edit {
  font-weight: 600;
  text-shadow: black 0px 0px 1px;
  float: right;
}
/* line 330, ../sass/screen.scss */
#body #description #submit, #body #description #cancel {
  font-weight: 600;
  text-shadow: black 0px 0px 1px;
  float: right;
  display: none;
}
/* line 336, ../sass/screen.scss */
#body #description textarea {
  display: none;
  width: 100%;
  min-height: 400px;
}
/* line 341, ../sass/screen.scss */
#body #description #node {
  font-size: 0.8em;
  color: #ddd;
  float: right;
  display: none;
}
/* line 348, ../sass/screen.scss */
#body #screenshotForm {
  margin: auto;
  width: 50%;
}

/* line 355, ../sass/screen.scss */
div#error {
  width: 30%;
  margin: auto;
}
/* line 358, ../sass/screen.scss */
div#error ul li {
  -moz-box-shadow: inset 0px 0px 2px 1px black;
  -webkit-box-shadow: inset 0px 0px 2px 1px black;
  -o-box-shadow: inset 0px 0px 2px 1px black;
  box-shadow: inset 0px 0px 2px 1px black;
  text-shadow: #330000 0px 0px 1px;
  padding: 3px;
  text-align: center;
  color: #c00;
  font-size: 1.2em;
}

/* line 368, ../sass/screen.scss */
div#addons_by_catagory {
  width: 80%;
  padding: 15px;
  margin: auto;
  -moz-box-shadow: inset 0px 0px 5px 2px black;
  -webkit-box-shadow: inset 0px 0px 5px 2px black;
  -o-box-shadow: inset 0px 0px 5px 2px black;
  box-shadow: inset 0px 0px 5px 2px black;
}
/* line 373, ../sass/screen.scss */
div#addons_by_catagory ul {
  overflow: hidden;
}

/* line 378, ../sass/screen.scss */
div#index_search {
  margin: auto;
  width: 40%;
}
/* line 381, ../sass/screen.scss */
div#index_search input {
  border: 0px;
  background: red url(/images/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  position: relative;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 398, ../sass/screen.scss */
div#index_search input[type=text] {
  width: 99%;
}
/* line 401, ../sass/screen.scss */
div#index_search input[type=submit] {
  margin: 15px;
  float: right;
}

/* line 408, ../sass/screen.scss */
div#login {
  margin: auto;
  width: 30%;
}

/* line 415, ../sass/screen.scss */
#involve {
  color: #ccc;
  width: 75%;
  margin: auto;
}
/* line 419, ../sass/screen.scss */
#involve p {
  margin: 10px;
}
/* line 423, ../sass/screen.scss */
#involve ul li {
  padding-left: 23px;
  font-size: 0.9em;
  border-bottom: 1px solid #000;
  margin: 3px;
}

/* line 433, ../sass/screen.scss */
#catagories {
  overflow: hidden;
  margin: auto;
  width: 50%;
}
/* line 437, ../sass/screen.scss */
#catagories ul li {
  float: left;
  margin: 15px;
}
/* line 441, ../sass/screen.scss */
#catagories #new_cata {
  clear: both;
  margin: auto;
}

/* line 449, ../sass/screen.scss */
#recent, #search_result {
  margin: auto;
  width: 65%;
}
/* line 452, ../sass/screen.scss */
#recent ul, #search_result ul {
  overflow: hidden;
}
/* line 454, ../sass/screen.scss */
#recent ul li, #search_result ul li {
  float: left;
  margin: 5px;
}

/* line 461, ../sass/screen.scss */
#account {
  width: 70%;
  padding: 15px;
  margin: 15px auto 15px;
}
/* line 465, ../sass/screen.scss */
#account #addons_by_user {
  overflow: hidden;
}

/* line 471, ../sass/screen.scss */
.center_form {
  width: 50%;
  margin: auto;
}

/* line 476, ../sass/screen.scss */
.awesome {
  border: 0px;
  background: red url(/images/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  position: relative;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* line 494, ../sass/screen.scss */
.partial_addon_block {
  float: left;
  margin: 15px;
}
/* line 497, ../sass/screen.scss */
.partial_addon_block a {
  margin: 25px;
  text-decoration: none;
  color: #fff;
}
/* line 501, ../sass/screen.scss */
.partial_addon_block a div p.addon_name {
  font-size: 1.2em;
  margin: 5px;
  text-align: center;
}
/* line 506, ../sass/screen.scss */
.partial_addon_block a div p.pub_date {
  font-size: 0.8em;
}

/* line 512, ../sass/screen.scss */
#pageControl {
  color: #FFF;
  -moz-box-shadow: inset 0px 0px 3px 1px black;
  -webkit-box-shadow: inset 0px 0px 3px 1px black;
  -o-box-shadow: inset 0px 0px 3px 1px black;
  box-shadow: inset 0px 0px 3px 1px black;
  background-color: #111;
  float: right;
}
/* line 517, ../sass/screen.scss */
#pageControl span {
  padding: 15px;
  line-height: 1.6em;
}
